/* 자동으로 고유해질 것이므로 흔히 사용되는 단어를 클래스 이름대로 사용가능 */

.up {
  padding: 2rem;
  margin: 1rem;
  color: rgb(1, 18, 20);
  font-size: 3rem;
  text-align: left;
}

.down {
  background: rgb(2, 0, 3);
  padding: 1rem;
  color: rgb(252, 253, 253);
  font-size: 4rem;
  text-align: center;
}

.bottom {
  padding: 2rem;
  margin: 1rem;
  color: rgb(1, 18, 20);
  font-size: 3rem;
  text-align: left;
}

.map {
  color: #48afdb;
  font-size: 2rem;
}
.maptext {
  color: #757575;
}

/* 글로벌 CSS 를 작성하고 싶다면 */

:global .something {
  font-weight: 800;
  color: aqua;
}
