/* 자동으로 고유해질 것이므로 흔히 사용되는 단어를 클래스 이름대로 사용가능 */

/* 이미지 fit */
.torso {
  object-fit: contain;
  width: 100%;
  height: 200px;
}

/* top,bottom 배경색 */
.up {
  padding: 2rem;
  margin: 1rem;
  color: rgb(1, 18, 20);
  font-size: 3rem;

  text-align: left;
}

/*bottom.js 에서 하단 주소*/
.down {
  background: rgb(2, 0, 3);
  padding: 1rem;
  color: rgb(252, 253, 253);
  font-size: 3rem;
  text-align: center;
}

/* 회사소개 */
.aboutaone {
  font-size: 16px;
}

/*오시는길전용 */
.map {
  color: #48afdb;
  font-size: 2rem;
}
.maptext {
  color: #757575;
}

/* member */
.member {
  color: #757575;
}

/* card */

.card {
  font-size: 0.5rem;
  color: #757575;
}

.cardbody {
  font-size: 1rem;
  color: #757575;
}

.font {
  font-family: 'Nanum Gothic';
  font-size: 13pt;
}
